<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/cobot</robotNamespace>
            <!-- <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType> -->
        </plugin>
    </gazebo>
    
    <!-- Color the robot links -->
    <gazebo reference="base_link" >
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="link_1" >
        <material>Gazebo/Yellow</material>
    </gazebo>
    <gazebo reference="link_2" >
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="link_3" >
        <material>Gazebo/Yellow</material>
    </gazebo>
    <gazebo reference="link_4" >
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="link_5" >
        <material>Gazebo/Yellow</material>
    </gazebo>
    <gazebo reference="link_6" >
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="gripper_connector" >
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="finger_support" >
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="finger_right" >
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="finger_left" >
        <material>Gazebo/Blue</material>
    </gazebo>

    <!-- ros control plugin to mimic finger behavior-->
        
    <xacro:macro name="mimic_joint_plugin_gazebo" params="parent_joint mimic_joint has_pid:=false multiplier:=-1.0 offset:=0 sensitiveness:=0.0 max_effort:=200 robot_namespace:='/cobot'">
        <gazebo>
            <plugin name="${mimic_joint}_mimic_joint_plugin" filename="libroboticsgroup_gazebo_mimic_joint_plugin.so"> 
                <joint>${parent_joint}</joint>
                <mimicJoint>${mimic_joint}</mimicJoint>
                <xacro:if value="${has_pid}">
                    <hasPID />
                </xacro:if>
                <multiplier>${multiplier}</multiplier>
                <offset>${offset}</offset>
                <sensitiveness>${sensitiveness}</sensitiveness>
                <maxEffort>${max_effort}</maxEffort>
                <xacro:unless value="${robot_namespace == '/cobot'}">
                    <robotNamespace>($robot_namespace)</robotNamespace>
                </xacro:unless>
            </plugin>
        </gazebo>
    </xacro:macro>

</robot>